@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#upload").click(function (evt) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length ; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/api/image/upload",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        alert(message);
                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });
            });
        });
    </script>
</head>
<body>
<div>

    <form method="post" enctype="multipart/form-data">
        <input type="file" id="files"
               name="files" multiple/>
        <input type="button"
               id="upload"
               value="Upload Selected Files"/>
    </form>


</div>
</body>
</html>